In [2]:
#import libraries
import pandas as pd

In [3]:
# import Federal Aviation Authority dataset
FedAviAuth_ds = pd.read_csv('C:\\Users\\pravinw\\Documents\\Fractal\\DATA SCIENTIST\\faa_ai_prelim\\faa_ai_prelim.csv')

In [4]:
# View the Shape of Dataset (contains 83 rows and 42 columns)
FedAviAuth_ds.shape

(83, 42)

In [5]:
# View Top 5 observations
FedAviAuth_ds.head()

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Check the Column names in the dataset
FedAviAuth_ds.columns

Index([u'UPDATED', u'ENTRY_DATE', u'EVENT_LCL_DATE', u'EVENT_LCL_TIME',
       u'LOC_CITY_NAME', u'LOC_STATE_NAME', u'LOC_CNTRY_NAME', u'RMK_TEXT',
       u'EVENT_TYPE_DESC', u'FSDO_DESC', u'REGIST_NBR', u'FLT_NBR',
       u'ACFT_OPRTR', u'ACFT_MAKE_NAME', u'ACFT_MODEL_NAME',
       u'ACFT_MISSING_FLAG', u'ACFT_DMG_DESC', u'FLT_ACTIVITY', u'FLT_PHASE',
       u'FAR_PART', u'MAX_INJ_LVL', u'FATAL_FLAG', u'FLT_CRW_INJ_NONE',
       u'FLT_CRW_INJ_MINOR', u'FLT_CRW_INJ_SERIOUS', u'FLT_CRW_INJ_FATAL',
       u'FLT_CRW_INJ_UNK', u'CBN_CRW_INJ_NONE', u'CBN_CRW_INJ_MINOR',
       u'CBN_CRW_INJ_SERIOUS', u'CBN_CRW_INJ_FATAL', u'CBN_CRW_INJ_UNK',
       u'PAX_INJ_NONE', u'PAX_INJ_MINOR', u'PAX_INJ_SERIOUS', u'PAX_INJ_FATAL',
       u'PAX_INJ_UNK', u'GRND_INJ_NONE', u'GRND_INJ_MINOR',
       u'GRND_INJ_SERIOUS', u'GRND_INJ_FATAL', u'GRND_INJ_UNK'],
      dtype='object')

In [7]:
# Select require columns and create a new dataframe
FAA_new_df = FedAviAuth_ds[['ACFT_MAKE_NAME','LOC_STATE_NAME','ACFT_MODEL_NAME','RMK_TEXT','FLT_PHASE','EVENT_TYPE_DESC','FATAL_FLAG']]

In [8]:
# Check the object type of the dataset
type(FAA_new_df)

pandas.core.frame.DataFrame

In [9]:
# Check the Top 5 observations of new Dataset
FAA_new_df.head()

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN

In [10]:
# Cleaning the Dataset
# Replace all missing values(NAN) in Fatal Flag column with the required output
FAA_new_df['FATAL_FLAG'].fillna(value='No', inplace=True)

C:\Users\pravinw\Anaconda2\lib\site-packages\pandas\core\generic.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [11]:
# Now view the top 5 records where all the value with NAN is replaced by No in the Fatal Flag column
FAA_new_df.head()

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,No
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,No
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,No
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,No

In [12]:
# View the shape of the new dataframe
FAA_new_df.shape

(83, 7)

In [13]:
# Drop the rows in ACFT_MAKE_NAME column which has missing values
# The same dataset will be amended 
FAA_new_df = FAA_new_df.dropna(subset=['ACFT_MAKE_NAME'])

In [14]:
# View the shape of the Dataset to compare the new record count against older
# We find that 5 records with missing ACFT_MAKE_NAME are dropped from our table
FAA_new_df.shape

(78, 7)

In [15]:
# Groupby as per ACFT_MAKE_NAME
Aircraft_model_count = FAA_new_df.groupby('ACFT_MAKE_NAME')

In [16]:
# View the counts
# One can understand from the data CESSNA is highest used aircraft 
Aircraft_model_count.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

In [17]:
# Group dataset with Fatal Count
Fatal_accidents = FAA_new_df.groupby('FATAL_FLAG')

In [18]:
# View the Fatal and Non Fatal Counts
Fatal_accidents.size()

FATAL_FLAG
No     71
Yes     7
dtype: int64

In [19]:
# Create Dataframe with only the fatal accidents (FATAL_FLAG vaue = Yes )
fatal_yes = Fatal_accidents.get_group('Yes')
fatal_yes

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
53,PIPER,Florida,PA28,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,UNKNOWN (UNK),Accident,Yes
55,FLIGHT DESIGN,California,CTLS,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,UNKNOWN (UNK),Accident,Yes
79,NORTH AMERICAN,Arizona,F51,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",UNKNOWN (UNK),Accident,Yes
80,CHAMPION,California,8KCAB,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes
81,BEECH,California,35,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes
82,CESSNA,Alabama,182,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,UNKNOWN (UNK),Accident,Yes