In [1]:
# Import Libraries
import pandas as pd

In [2]:
# Import the advertising dataset
Advert_ds = pd.read_csv('C:\Users\pravinw\Documents\DATA SCIENTIST\PractiseAssignment_Simplilearn\Advertising_Budget_and_Sales (1)\Advertising Budget and Sales.csv', index_col=0)

In [3]:
# View top 5 records of the dataset
Advert_ds.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [4]:
# Total record counts in the dataset
Advert_ds.size

800

In [6]:
# Check the number of observations(rows) and attributes(columns) in the dataset
Advert_ds.shape

(200, 4)

In [7]:
# View the names of attributes
Advert_ds.columns

Index([u'TV Ad Budget ($)', u'Radio Ad Budget ($)', u'Newspaper Ad Budget ($)',
       u'Sales ($)'],
      dtype='object')

In [8]:
# Create a feature object from the column
X_features = Advert_ds[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [9]:
# View the feature object
X_features.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [10]:
# Create target object
Y_target = Advert_ds[['Sales ($)']]

In [11]:
# View the target object
Y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [12]:
# Verify all observations in feature object has been captured
X_features.shape

(200, 3)

In [13]:
# Verify all observations in target object has been captured
Y_target.shape

(200, 1)

In [14]:
# Split the dataset
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_features, Y_target, random_state=1)

In [15]:
# Verify the split for each train and test set
print X_train.shape
print X_test.shape
print Y_train.shape
print Y_test.shape

(150, 3)
(50, 3)
(150, 1)
(50, 1)

In [16]:
# Create a linear regression model
from sklearn.linear_model import LinearRegression
LinearReg = LinearRegression()

In [17]:
# Fit the model
LinearReg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
# Print the intercept and coefficients
print LinearReg.intercept_
print LinearReg.coef_

[ 2.87696662]
[[ 0.04656457  0.17915812  0.00345046]]

In [19]:
# Predict the outcome for the testing dataset
Y_Predict = LinearReg.predict(X_test)

In [20]:
# View the results
Y_Predict

array([[ 21.70910292],
       [ 16.41055243],
       [  7.60955058],
       [ 17.80769552],
       [ 18.6146359 ],
       [ 23.83573998],
       [ 16.32488681],
       [ 13.43225536],
       [  9.17173403],
       [ 17.333853  ],
       [ 14.44479482],
       [  9.83511973],
       [ 17.18797614],
       [ 16.73086831],
       [ 15.05529391],
       [ 15.61434433],
       [ 12.42541574],
       [ 17.17716376],
       [ 11.08827566],
       [ 18.00537501],
       [  9.28438889],
       [ 12.98458458],
       [  8.79950614],
       [ 10.42382499],
       [ 11.3846456 ],
       [ 14.98082512],
       [  9.78853268],
       [ 19.39643187],
       [ 18.18099936],
       [ 17.12807566],
       [ 21.54670213],
       [ 14.69809481],
       [ 16.24641438],
       [ 12.32114579],
       [ 19.92422501],
       [ 15.32498602],
       [ 13.88726522],
       [ 10.03162255],
       [ 20.93105915],
       [  7.44936831],
       [  3.64695761],
       [  7.22020178],
       [  5.9962782 ],
       [ 18.43381853],
       [  8.39408045],
       [ 14.08371047],
       [ 15.02195699],
       [ 20.35836418],
       [ 20.57036347],
       [ 19.60636679]])

In [21]:
# Importing Libraries for calculating Mean Square Error
from sklearn import metrics
import numpy as np

In [22]:
# Calculate the MSE
print np.sqrt(metrics.mean_squared_error(Y_test,Y_Predict))

1.40465142303